{% extends "base.html" %} {% block content %}

<div class="text-center">
  <h1>Neo4j + Neomodel + Neovis.js</h1>
</div>
<hr>
<div class="text-center">
  <h5>(rdr:Reader)-[r:READ]->(bk:Book)</h5>
</div>
<div>
  <div id="viz"></div>
</div>

{% endblock %} {% block js %}
<script type="text/javascript">
  var viz;

  function draw() {
    var config = {
      container_id: "viz",
      server_url: "bolt://localhost:7687",
      server_user: "neo4j",
      server_password: "",
      labels: {
        "Reader": {
          "caption": "name",
          "size": "pagerank",
        },
        "Book": {
          "caption": "title",
          "size": "pagerank",
        }
      },
      relationships: {
        "READ": {
          "thickness": "weight",
          "caption": true
        }
      },
      initial_cypher: "MATCH (rdr:Reader)-[r:READ]->(bk:Book) RETURN rdr, r, bk"
    };

    viz = new NeoVis.default(config);
    viz.render();
  }
</script>
{% endblock %}